<div class="content-gallery fullscreen">

    <div class="gallery-container" ng-class="{active: state.sliderActive}">

        <!-- gallery interface -->
        <div class="gallery-interface">

            <div class="activation-area next" ng-click="nextSlide()" ng-hide="state.slideCount - 1 == state.currentSlideIndex">
                <div class="navigation-button next only-icon icon-chevron-right"></div>
            </div>

            <div class="activation-area previous" ng-click="previousSlide()" ng-hide="state.currentSlideIndex == 0">
                <div class="navigation-button previous only-icon icon-chevron-left"></div>
            </div>

            <div class="activation-area up" ng-mousedown="scrollUp()" ng-hide="imageList[state.currentSlideIndex].atTop || !isImageTallerThanWindow()">
                <div class="scroll-button up only-icon icon-chevron-up"></div>
            </div>

            <div class="activation-area down" ng-mousedown="scrollDown()" ng-hide="imageList[state.currentSlideIndex].atBottom || !isImageTallerThanWindow()">
                <div class="scroll-button down only-icon icon-chevron-down"></div>
            </div>
        </div>

        <!-- slider container -->
        <div class="slider-container" ng-style="sliderContainerStyle">

            <div class="slider slider-[[ key ]]" ng-style="sliderStyle" ng-class="{active: key == state.currentSlideIndex}" ng-repeat="(key, image) in imageList" ng-click="setActiveSlide(key + 1)">
                <img class="image-content" ng-src="[[ image.url ]]">
            </div>

        </div>
    </div>

    <!-- directive: thumbnail-gallery -->
    <div thumbnail-gallery thumbnail-list="thumbnailList" width="180" spacing="4"></div>

</div>

