/* -----------------------------------------
   CONTENT GALLERY
----------------------------------------- */
.content-gallery {
    position: relative;
    z-index: 2;

    * {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    /* full screen mode */
    &.fullscreen {
        background-color: rgba(#000, 1);
        position: fixed;
        z-index: 9999;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    /* disable transitions */
    &.transitions {

        .gallery-container {
            @include transition(all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95));
        }
        .gallery-interface {
            @include transition(all 600ms);
        }
        .slide-container {
            @include transition(all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95));
        }
    }

    /* embedded mode */
    &.embedded {

        .gallery-container {

        }

        .slide-container {

        }

        .slide {
            margin-top: 0px !important;
        }
    }

    /* gallery container */
    .gallery-container {
        position: relative;
        overflow: hidden;
        height: 0px;

        &.active {
            height: auto;
        }
    }

    /* gallery interface */
    .gallery-interface {
        position: absolute;
        z-index: 1;
        opacity: 1;
        left: 0;
        right: 0;
        top: 0;

        @media #{$small} {
            opacity: 0;
        }

        * {
            @include user-select(none);
        }

        &:hover {
            opacity: 1;
        }

        /* activation area */
        .activation-area {
            position: absolute;
            cursor: pointer;

            &:hover {
                .navigation-button {
                    color: rgba(#fff, 0.8);
                    background-color: rgba(#000, .5);
                }
               .scroll-button {
                    color: rgba(#fff, 0.8);
                    background-color: rgba(#000, .5);
                }
            }
            &:active {
                .navigation-button {
                    color: rgba(#fff, 1.0);
                    background-color: rgba(#000, .6);
                }
                .scroll-button {
                    color: rgba(#fff, 1.0);
                    background-color: rgba(#000, .6);
                }
            }

            &.next {
                right: 0;
                left: 55%;
                top: 0;
                bottom: 0;
            }
            &.previous {
                left: 0;
                right: 55%;
                top: 0;
                bottom: 0;
            }
            &.up {
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                height: 40px;
            }
            &.down {
                z-index: 1;
                bottom: 0;
                left: 0;
                right: 0;
                height: 40px;
            }
        }

        /* navigation button */
        .navigation-button {
            position: absolute;
            top: 50%;
            color: rgba(#fff, 0.5);

            margin-top: -13px;
            border-radius: 3px;

            font-size: 1em;
            padding: 0px;
            line-height: 0em;

            background-color: rgba(#000, .3);

            @media #{$small} {
                margin-top: -30px;
                font-size: 2em;
            }

            &.next {
                right: 4px;
            }
            &.previous {
                left: 4px;
            }
        }

        /* scroll button */
        .scroll-button {
            position: absolute;
            margin: 0 auto;
            padding: 3px 7px;
            left: 50%;
            margin-left: -9px;
            top: 2px;
            border-radius: 3px;
            font-size: 1em;
            color: rgba(#fff, 0.5);

            padding: 0px;
            line-height: 0em;

            background-color: rgba(#000, .3);

            @media #{$small} {
                top: 0px;
                margin-left: -18px;
                font-size: 2em;
            }

            &.up {
                margin-top: 4px;
            }
            &.down {
                margin-bottom: 4px;
            }
        }

        .gallery-buttons {
            position: absolute;
            cursor: pointer;

            right: 5px;
            padding: 5px;
            z-index: 2;
            font-size: .8em;
            border-radius: 3px;
            color: rgba(#fff, 0.5);

            background-color: rgba(#000, .3);

            @media #{$small} {
                font-size: 1.0em;
                padding: 10px;
            }

            &:hover {
                background-color: rgba(#000, .6);
                color: rgba(#fff, 1.0);
            }
            &:active {
                background-color: rgba(#000, .8);
            }

            &.zoom {
                font-size: 0.8em;
                padding: 7px 11px;
                top: 5px;

                @media #{$small} {
                    font-size: 1.6em;
                }
            }
            &.download {
                @include transition(none);
                top: 37px;
                padding: 7px 10px;

                @media #{$small} {
                    top: 55px;
                }
            }
        }
    }

    /* slide container */
    .slide-container {
        position: relative;

        .slide {
            @include transition(opacity 600ms);
            display: inline-block;
            vertical-align: top;
            opacity: 0;

            * {
                pointer-events: none;
            }

            &.active {
                @include transition(none);
                opacity: 1;
            }

            .image-content {
                max-width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
            }
        }
    }
}
