/* -----------------------------------------
   DROPDOWN
----------------------------------------- */
.dropdown {
    position: relative;

    &.open {

    }

    > .text {
        cursor: pointer;
        display: inline-block;
    }

    .menu {
        @include transition(.2s all);
        list-style: none;
        display: none;
        position: absolute;
        z-index: 11;

        top: 100%;
        left: 0;

        margin: 0;
        background-color: #fff;
        min-width: 100%;

        white-space: nowrap;

        // menu items
        li {
            cursor: pointer;
            color: $primary-color;
            padding: 0 1em;
            font-size: 0.8rem;
            line-height: 2.2rem;
            text-align: left;

            -webkit-touch-callout: none;

            &:hover {
                background-color: #d7d7d7;
                color: #000;
            }
        }
    }
}