/* -----------------------------------------
   VARIABLES
----------------------------------------- */

// font weights
$paragraph-font: "open-sans", sans-serif;
$paragraph-normal-weight: 400;
$paragraph-bold-weight: 600;

$header-font: "open-sans", sans-serif;
$header-normal-weight: 300;
$header-bold-weight: 500;
