
<div class="row">
    <div class="columns large-12">

        <p>
            A collection of Angular UI Components
        </p>

        <ul class="side-nav">
            <li><a href="/content_gallery">Content Gallery</a>
        </ul>


        <h2>Dropdown</h2>

        <!-- directive: dropdown -->
        <div dropdown class="dropdown" transition="scale">
            <div class="text">Oldest <i class="icon-chevron-down"></i></div>

            <!-- menu -->
            <ul class="menu transition">
                <li><i class="icon-ok"></i> Oldest</li>
                <li><i class="icon-ok"></i> Newest</li>
            </ul>
        </div>

    </div>
</div>