/* -----------------------------------------
   AUTO COMPLETE
----------------------------------------- */
.auto-complete {

    .filtered-terms {

        ul {

        }
    }

    .tag {
        cursor: pointer;

        &.selected {
            background-color: #000;
            color: #fff;
        }

        span {

        }
    }

}
