/* -----------------------------------------
   CONTENT TABS
----------------------------------------- */
.content-tabs {
    position: relative;
    overflow: hidden;

    * {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    /* disable transitions */
    &.transitions {

    }

    /* tabs content viewport */
    .tabs-viewport {
        overflow: hidden;
        border-bottom: 2px solid #878685;

        * {
            @include user-select(none);
        }
    }

    /* tabs container */
    .tabs-container {
        @include clearfix();
        position: relative;
        overflow: hidden;

        section {
            float: left;

            /* hover on small or larger */
            @media #{$medium} {
                &:hover {
                    .title {
                        background-color: #b7b5b4;
                    }
                }
            }

            &.active {
                .title {
                    background-color: #878685;
                    color: #fff;
                }
            }

            .title {
                background-color: transparent;
                padding: 10px 20px;
                margin-right: 6px;
                font-size: 0.9em;
                cursor: pointer;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
            }
        }
    }

    /* tabs content viewport */
    .tabs-content-viewport {
        overflow: hidden;
    }

    /* tabs content container */
    .tabs-content-container {
        position: relative;

        section {
            position: absolute;
            opacity: 0;
            width: 100%;

            &.active {
                position: relative;
                opacity: 1;
            }

            /* override panel box style */
            .panel {
                padding-left: 0px;
                padding-right: 0px;

                &.box {
                    border-top: none;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;

                    padding: emCalc(9px);

                    @media #{$small} {
                        padding: emCalc(20px);
                    }
                }
            }

        }
    }
}
