/* -----------------------------------------
   CONTENT TABS
----------------------------------------- */
.content-tabs {
    position: relative;
    overflow: hidden;

    * {
        @include user-select(none);
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    /* disable transitions */
    &.transitions {

    }

    /* tabs container */
    .tabs-container {
        @include clearfix();
        position: relative;
        overflow: hidden;
        height: 50px;

        section {
            float: left;

            h2 {
                background-color: #fff;
                padding: 10px 20px;
                margin-right: 6px;
                font-size: 1.2em;
            }
        }
    }

    /* tabs content container */
    .tabs-content-container {
        @include clearfix();
        position: relative;
        overflow: hidden;

        section {
            float: left;
            background-color: transparent;
        }
    }
}
