/* -----------------------------------------
   CONTENT TABS
----------------------------------------- */
.content-tabs {
    position: relative;
    overflow: hidden;

    * {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    /* disable transitions */
    &.transitions {

    }

    /* tabs content viewport */
    .tabs-viewport {
        overflow: hidden;

        * {
            @include user-select(none);
        }
    }

    /* tabs container */
    .tabs-container {
        @include clearfix();
        position: relative;
        overflow: hidden;
        height: 50px;

        section {
            float: left;

            .title {
                background-color: #fff;
                padding: 10px 20px;
                margin-right: 6px;
                font-size: 1.2em;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    background-color: #CACACA;
                }

                &.active {
                    background-color: #7C7C7C;
                    color: #fff;
                }
            }
        }
    }

    /* tabs content viewport */
    .tabs-content-viewport {
        @include transition(.4s height);
        height: 10px;
        overflow: hidden;
    }

    /* tabs content container */
    .tabs-content-container {
        @include clearfix();
        position: relative;

        /* disable image drag */
        img {
            // pointer-events: none;
        }

        section {
            float: left;
            padding: 12px;
            background-color: #fff;
        }
    }
}
