/* -----------------------------------------
   CONTENT GALLERY
----------------------------------------- */
.content-gallery {
    position: relative;

    * {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    /* full screen mode */
    &.fullscreen {
        background-color: rgba(#000, 1);
        position: fixed;
        z-index: 9999;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    /* embedded mode */
    &.embedded {

        .gallery-container {

        }

        .slider-container {

        }

        .slider {
            margin-top: 0px !important;
        }
    }

    /* gallery container */
    .gallery-container {
        @include transition(all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95));
        position: relative;
        overflow: hidden;
        height: 0px;

        &.active {
            height: auto;
        }
    }

    /* gallery interface */
    .gallery-interface {
        @include transition(all 600ms);
        position: absolute;
        z-index: 1;
        background-color: rgba(#fff, 0);
        opacity: 1;
        left: 0;
        right: 0;
        top: 0;

        @media #{$small} {
            opacity: 0;
        }

        * {
            @include user-select(none);
        }

        &:hover {
            opacity: 1;
        }

        /* activation area */
        .activation-area {
            position: absolute;
            cursor: pointer;

            &:hover {
                .navigation-button {
                    background-color: rgba(#000, .3);
                }
               .scroll-button {
                    background-color: rgba(#000, .3);
                }
            }
            &:active {
                .navigation-button {
                    background-color: rgba(#000, .4);
                }
                .scroll-button {
                    background-color: rgba(#000, .4);
                }
            }

            &.next {
                right: 0;
                left: 55%;
                top: 0;
                bottom: 0;
            }
            &.previous {
                left: 0;
                right: 55%;
                top: 0;
                bottom: 0;
            }
            &.up {
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                height: 40px;
            }
            &.down {
                z-index: 1;
                bottom: 0;
                left: 0;
                right: 0;
                height: 40px;
            }
        }

        /* navigation button */
        .navigation-button {
            position: absolute;
            margin-top: -11px;
            top: 50%;
            padding: 7px 4px;
            border-radius: 3px;
            font-size: .6em;
            background-color: rgba(#000, .2);
            color: #fff;

            @media #{$small} {
                margin-top: -25px;
                padding: 15px 5px;
                font-size: 1em;
            }

            &:before {
                opacity: .7;
            }

            &.next {
                right: 4px;
            }
            &.previous {
                left: 4px;
            }
        }

        /* scroll button */
        .scroll-button {
            position: absolute;
            margin: 0 auto;
            padding: 4px 7px;
            left: 50%;
            margin-left: -9px;
            top: 10px;
            border-radius: 3px;
            font-size: .6em;
            background-color: rgba(#000, .2);
            color: #fff;

            @media #{$small} {
                top: 0px;
                padding: 3px 15px;
                margin-left: -18px;
                font-size: 1em;
            }

            &.up {
                margin-top: 4px;
            }
            &.down {
                margin-bottom: 4px;
            }

            &:before {
                opacity: .7;
            }
        }

        /* zoom button */
        .zoom-button {
            position: absolute;
            cursor: pointer;
            top: 5px;
            right: 5px;
            padding: 5px;
            background-color: rgba(#000, .2);
            z-index: 2;
            font-size: .8em;
            border-radius: 3px;
            color: #fff;

            @media #{$small} {
                font-size: 1.6em;
                padding: 10px;
            }

            &:hover {
                background-color: rgba(#fff, .6);
                color: #000;
            }
            &:active {
                background-color: rgba(#fff, .8);
                color: #000;
            }
            &:before {
                opacity: .7;
            }
        }
    }

    /* slider container */
    .slider-container {
        @include clearfix();
        @include transition(all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95));

        .slider {
            @include transition(all 0ms);
            display: inline-block;
            vertical-align: top;

            .image-content {
                max-width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
            }
        }
    }
}
