/* -----------------------------------------
   MODAL
----------------------------------------- */
// container that the modal scrolls within
.modal {
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 999;

    // when fading in the modal, animate it to slide down
    &.fade {
        @include transition(opacity 450ms);
        opacity: 0;

        .modal-dialog {
            @include transform(translate3d(0px, -15%, 0px));
            @include transition(all 450ms);
        }
    }
    &.in {
        opacity: 1;

        .modal-dialog {
            @include transform(translate3d(0px, 0px, 0px));
        }
    }

    // scroll on the body
    .modal-open {
        overflow: hidden;
    }

    // shell div to position the modal with bottom padding
    .modal-dialog {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 10px;
        z-index: 999;
    }

    // actual modal
    .modal-content {
        @include box-shadow(0 3px 9px rgba(0,0,0,.5));
        position: relative;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        background-clip: padding-box;
        // Remove focus outline from opened modal
        outline: none;
    }

    // modal header
    // top section of the modal w/ title and dismiss
    .modal-header {
        padding: 12px;
        border-bottom: 1px solid #e5e5e5;
        min-height: 20px;
    }


    // close icon
    .modal-header .close {
        margin-top: -2px;
        float: right;
        padding: 6px 8px;
    }

    // title text within header
    .modal-title {
        margin: 0;
        line-height: 1em;
    }

    // modal body
    // where all modal content resides (sibling of .modal-header and .modal-footer)
    .modal-body {
        position: relative;
        padding: 15px;
    }

    /* footer */
    .modal-footer {
        @include clearfix();
        margin-top: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
        padding: 20px;

        button, .button {
            margin-bottom: 0;
        }
    }

    // scale up the modal
    @media #{$small} {

        .modal-dialog {
            left: 50%;
            right: auto;
            width: 600px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .modal-content {
            @include box-shadow(0 5px 15px rgba(0,0,0,.5));
        }
    }
}

// modal background
.modal-backdrop {
    @include transition(opacity 450ms);

    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
    background-color: #000;

    // Fade for backdrop
    &.fade {
        opacity: 0;
    }
    &.in {
        opacity: 0.8;
    }
}