/* -----------------------------------------
   THUMBNAIL GALLERY
----------------------------------------- */
.thumbnail-gallery {

    .thumbnail-viewport-container {
        @include transition(all .4s);
        overflow: hidden;
    }

    .thumbnail-container {
        @include transition(all .4s);
        @include clearfix();
        width: 9999px;

        .thumbnail {
            float: left;
            cursor: pointer;
            opacity: .3;

            &:hover {
                opacity: .9;
            }

            &.active {
                opacity: 1;
            }

            .image-thumbnail {
                max-width: 100%;
                height: auto;
                margin: 0 auto;
                padding-top: 5px;
            }
        }
    }
}
