/* -----------------------------------------
   VERTICAL TAGS
----------------------------------------- */
.vertical-tags {
    position: relative;
    border: 1px solid rgb(160, 160, 160);
    background-color: #ccc;
    border-radius: 3px;
    overflow: hidden;

    &.pane2 {

        .pane-content {
            @include transform(translate3d(-50%, 0px, 0px));
        }
    }

    .pane-content {
        @include transition(all .4s);
        @include clearfix();
        width: 200%;

        .pane {
            float: left;
            width: 50%;
        }

        .pane1 {
            background-color: #ccc;
            padding: 10px;
            z-index: 2;
        }

        .pane2 {
            padding: 10px;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    /* input field */
    input[type="text"] {
        padding-right: 50px;
        font-size: 1.2em;
        margin-bottom: 6px;
        border-radius: 3px;
    }

    /* list button */
    .list-button {
        @include transition(all .4s);
        position: absolute;
        top: 14px;
        right: 13px;
        background-color: #8F8F8F;
        border-radius: 3px;
        padding: 8px;
        cursor: pointer;

        &:hover {
            background-color: #737373;
        }

        &:before {
            font-size: 1.3em;
            color: #fff;
        }
    }

    /* all-tags back button */
    .back-button {
        width: 100%;
        border-radius: 3px;
    }

    /* tag list */
    .tag-list {
        position:relative;
        overflow: hidden;
        height: 300px;

        * {
            -webkit-user-select: none;
            -moz-user-select: -moz-none;
        }

        ul {
            list-style: none;
            list-style-image: none;
        }
    }

    /* selected tags */
    .selected-tags {


    }

    /* all tags */
    .all-tags {
        height: 300px;

        .tag {
            cursor: pointer;

            &:hover {
                background-color: #B9B9B9;
                color: #000;
            }

            &.active {
                @include transition(all .2s);
                background-color: #40617B;
                color: #fff;

                &:hover {
                    background-color: #293F50;
                    color: #fff;
                }
            }
        }
    }

    /* selected tag item */
    .tag {
        position: relative;
        font-size: 1.2em;
        line-height: 1.4em;
        padding: 10px 60px 10px 10px;
        background-color: #fff;
        border-radius: 3px;
        margin: 4px 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    /* delete icon */
    .tag-delete {
        position: absolute;
        font-size: 1.2em;
        right: 10px;
        width: 40px;
        cursor: pointer;

        /* tag icon */
        &:before {
            position: relative;
            top: 1px;
            left: 7px;
        }
    }
}
